
body {
    background-color:#efc9af;
}

h1 {
    color:#104c91
}

h3 {
    color:#1f8ac0
}

input[type="text"] {
    color:#1f8ac0;
    background-color:#e8d8ce;
}

.tarea {
    color:#1f8ac0
}

#lista {
    color:#1f8ac0;
    background-color:#e8d8ce
}